/* 英文字体 */
@font-face {
  font-family: 'Trap-Regular';
  src: url('/assets/fonts/Trap-Regular.woff') format('woff');
  font-display: swap; /* 更好的字体加载体验 */
  unicode-range: U+0000-007F, U+0080-00FF; /* 英文字母和基本符号范围 */
}

/* 中文字体 */
@font-face {
  font-family: 'Plix-Regular';
  src: url('/assets/fonts/Plix-Regular.otf') format('opentype');
  font-display: swap; /* 更好的字体加载体验 */
  unicode-range: U+4E00-9FFF, U+3000-303F, U+FF00-FFEF;/* 中文字符和部分标点范围 */
}

body {
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  font-size: 3em;
  font-family: "Trap-Regular", "Plix-Regular", sans-serif;
    font-display: swap; /* 提升首屏加载体验 */
}

/* 通用内容样式 */
.content {
  padding-top: 50px;
  padding-left: 10px; /* 左侧内边距 */
  padding-right: 10px; /* 右侧内边距 */
  padding-bottom: 0px;
  max-width: 1500px;
  margin: 0 ;
  line-height: 1.8;
}

/* about分两列 */
.content-container {
  display: flex;
  justify-content: space-between;
}
.content {
  width: 50%;
}