/* 英文字体 */
@font-face {
  font-family: 'Trap-Regular';
  src: url('/assets/fonts/Trap-Regular.woff') format('woff');
  font-display: swap; /* 更好的字体加载体验 */
  unicode-range: U+0000-007F, U+0080-00FF; /* 英文字母和基本符号范围 */
}

/* 中文字体 */
@font-face {
  font-family: 'Plix-Regular';
  src: url('/assets/fonts/Plix-Regular.otf') format('opentype');
  font-display: swap; /* 更好的字体加载体验 */
  unicode-range: U+4E00-9FFF, U+3000-303F, U+FF00-FFEF;/* 中文字符和部分标点范围 */
}

/* 通用样式body1 */
body {
  font-family: "Trap-Regular", "Plix-Regular", sans-serif;
    font-display: swap; /* 提升首屏加载体验 */
  margin: 0;
  padding: 0;
  color: rgb(71, 71, 71); /* 设置字体颜色 */
  background-color: #000000;
  text-align: left;  /* 默认文本左对齐 */
}

/* 通用内容样式 */
.content {
  padding-top: 50px;
  padding-left: 10px; /* 左侧内边距 */
  padding-right: 10px; /* 右侧内边距 */
  padding-bottom: 0px;
  max-width: 1500px;
  margin: 0 ;
  line-height: 1.8;
}
 
hr {
  border: none;        /* 去掉默认边框 */
  border-top: 2px solid rgb(71, 71, 71);/* 设置横线颜色和粗细 */
  margin: 0px 8px;      /* 上下间距 */
}

.content-text {
  font-size: clamp(25px, 3vw, 6ch);
}

.content-en {
  font-family: 'Trap-Regular', sans-serif;
  letter-spacing: 0.01px;
  line-height: 1.1;
}

.content-cn {
  font-family: 'Plix-Regular', sans-serif;
  line-height: 1.2;
}


/* Goodshit.html */
.parent-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-left: 10px; /* 左侧内边距 */
  padding-right: 10px; /* 右侧内边距 */
  padding-bottom: 0px;
}

.container {
 flex: 1 1 calc(100% / 3); /* 每行三等分 */
  box-sizing: border-box; /* 包括内边距和边框在内的宽度计算 */
  font-size: clamp(2rem, 2vw, 10rem);
  line-height: 1.2;
  gap: 5px; /* 添加顶部边距 */
}

.content-description {
  width: 0.1%; /* 设置你需要的宽度 */
}

/* 内容4容器 */
.content-container {
  font-size: clamp(2rem, 2vw, 2rem);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* 内容4容器属性 */
.content-box {
  width: 100%; /* 设置容器的宽度，可以根据需要调整 */
  padding:0px 10% 0px 0px;
  box-sizing: border-box;
}

    /* 设置所有链接的颜色 */
    a {
      color: rgb(158, 158, 158); /* 设置链接的颜色 */
      text-decoration: none; /* 移除下划线 */
    }

/* 合并内容5和内容6 */
.container-merged {
  flex: 1 1 66.66%; /* 占据两列 */
  background-color: #000000; /* 可选：不同的背景颜色 */
  position: relative;
  height: 20em; /* 固定高度 */
  overflow: hidden; /* 隐藏溢出内容 */
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%; /* 确保高度为100% */
}

.carousel-inner {
  display: flex;
  width: 100%; /* 确保内部容器宽度为100% */
  height: 100%; /* 确保内部容器高度为100% */
}

.carousel-inner img, .carousel-inner video {
  flex: 0 0 100%; /* 每个子元素占据100%的宽度 */
  width: 100%; /* 确保宽度为100% */
  height: 100%; /* 确保高度为100% */
  object-fit: contain; /* 保持比例并自适应高度 */
  box-sizing: border-box;
}

.carousel-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  cursor: pointer;
}

.left-nav {
  left: 0;
}

.right-nav {
  right: 0;
}

