/* 英文字体 */
@font-face {
  font-family: 'Trap-Regular';
  src: url('../assets/fonts/Trap-Regular.woff') format('woff');
  font-display: swap; /* 更好的字体加载体验 */
  unicode-range: U+0000-007F, U+0080-00FF; /* 英文字母和基本符号范围 */
}

/* 中文字体 */
@font-face {
  font-family: 'Plix-Regular';
  src: url('../assets/fonts/Plix-Regular.otf') format('opentype');
  font-display: swap; /* 更好的字体加载体验 */
  unicode-range: U+4E00-9FFF, U+3000-303F, U+FF00-FFEF;/* 中文字符和部分标点范围 */
}

/* 通用样式body1 */
body {
  font-family: "Trap-Regular", "Plix-Regular", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  text-align: left;  /* 默认文本左对齐 */
}

/* 通用内容样式 */
.content {
  padding-top: 50px;
  padding-left: 10px; /* 左侧内边距 */
  padding-right: 10px; /* 右侧内边距 */
  padding-bottom: 0px;
  max-width: 1500px;
  margin: 0 ;
  line-height: 1.8;
}

/* 针对英文字体的样式 */
.content-en {
  font-family: 'Trap-Regular', sans-serif;
  font-size: clamp(25px, 3vw, 6ch); /* 响应式字体大小 */
  letter-spacing: 0.5px;
  line-height: 1.1;
}

/* 针对中文字体的样式 */
.content-cn {
  font-family: 'Plix-Regular', sans-serif;
  font-size: clamp(25px, 3vw, 6ch); /* 响应式字体大小 */
  line-height: 1.2;
}

/* Goodshit.html */
.parent-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-left: 10px; /* 左侧内边距 */
  padding-right: 10px; /* 右侧内边距 */
  padding-bottom: 0px;
}

.container {
  flex: 1 1 33.33%; /* 每行三等分 */
  box-sizing: border-box; /* 包括内边距和边框在内的宽度计算 */
  font-size: clamp(1.5rem, 2vw, 10rem);
  line-height: 1.2;
  margin-top: 5px; /* 添加顶部边距 */
}

.content-description {
  width: 0.1%; /* 设置你需要的宽度 */
}

/* 内容4容器 */
.content-container {
  font-size: clamp(1rem, 2vw, 2rem);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* 内容4容器属性 */
.content-box {
  width: 100%; /* 设置容器的宽度，可以根据需要调整 */
  padding:0px 10% 0px 0px;
  box-sizing: border-box;
}

    /* 设置所有链接的颜色 */
    a {
      color: rgb(158, 158, 158); /* 设置链接的颜色 */
      text-decoration: none; /* 移除下划线 */
    }

/* 合并内容5和内容6 */
.container-merged {
  flex: 1 1 66.66%; /* 占据两列 */
  background-color: #000000; /* 可选：不同的背景颜色 */
  position: relative;
  height: 20em; /* 固定高度 */
  overflow: hidden; /* 隐藏溢出内容 */
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%; /* 确保高度为100% */
}

.carousel-inner {
  display: flex;
  width: 100%; /* 确保内部容器宽度为100% */
  height: 100%; /* 确保内部容器高度为100% */
}

.carousel-inner img, .carousel-inner video {
  flex: 0 0 100%; /* 每个子元素占据100%的宽度 */
  width: 100%; /* 确保宽度为100% */
  height: 100%; /* 确保高度为100% */
  object-fit: contain; /* 保持比例并自适应高度 */
  box-sizing: border-box;
}

.carousel-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  cursor: pointer;
}

.left-nav {
  left: 0;
}

.right-nav {
  right: 0;
}
/* 小屏幕下的响应式设置 */
@media (max-width: 768px) {
  .parent-container {
    display: flex;
    flex-wrap: wrap;
  }

  .container, .container-merged {
    flex: 1 1 50%; /* 每个容器占据50%的宽度 */
    box-sizing: border-box;
  }

  .container-merged {
    height: 400px; /* 小屏幕时的高度 */
  }
  .container, .content-box {
    width: 100%; /* 设置容器的宽度，可以根据需要调整 */
    padding:0px 0px 0px 0px;
    box-sizing: border-box;
  }
}
