/* 全局设置：确保页面周围留20px */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trap-Regular', sans-serif; /* 应用自定义字体 */
    padding: 20px;
    background-color: #f8f8f8;
}

/* 文字部分 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header div {
    font-size: 5vw;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

/* 去除链接下划线 */
.no-underline {
    text-decoration: none;
    color: inherit; /* 确保链接颜色继承自父元素 */
}

/* 图片瀑布流布局 */
.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* 自动填充列，最小列宽为250px */
    grid-gap: 20px;  /* 图片间距 */
    grid-auto-rows: auto;  /* 自动调整行高 */
}

.image-item {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.image-item img {
    width: 100%;
    height: auto;
    object-fit: cover;  /* 保证图片按比例展示 */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer; /* 增加点击效果 */
}

/* 图片 hover 效果：放大 */
.image-item img:hover {
    transform: scale(1.05);
}

/* 大图弹出样式 */
.modal {
    display: none; /* 默认隐藏 */
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0); /* 半透明背景 */
    background-color: rgba(0, 0, 0, 0.9); /* 半透明黑色 */
}

.modal-content {
    margin: auto;
    display: block;
    width: auto;  /* 使用原图尺寸 */
    height: auto;
    max-width: 90%;  /* 防止大图过大溢出 */
    max-height: 90%; /* 防止大图过高溢出 */
}

.close {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 25px;
    font-family: 'Trap-Regular', sans-serif;
    cursor: pointer;
}

/* 鼠标悬停时关闭按钮样式 */
.close:hover,
.close:focus {
    color: #f1f1f1;
    text-decoration: none;
    cursor: pointer;
}
