/* 英文字体 */
@font-face {
  font-family: 'Trap-Regular';
  src: url('/assets/fonts/Trap-Regular.woff') format('woff');
  font-display: swap; /* 更好的字体加载体验 */
  unicode-range: U+0000-007F, U+0080-00FF; /* 英文字母和基本符号范围 */
}

/* 中文字体 */
@font-face {
  font-family: 'Plix-Regular';
  src: url('/assets/fonts/Plix-Regular.otf') format('opentype');
  font-display: swap; /* 更好的字体加载体验 */
  unicode-range: U+4E00-9FFF, U+3000-303F, U+FF00-FFEF;/* 中文字符和部分标点范围 */
}

/* 通用样式body */
body {
  font-family: "Trap-Regular", "Plix-Regular", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  text-align: left;  /* 默认文本左对齐 */
}
